.background {
  margin: 16px
}

.title-orange {
  color: #fcab10;
}

.title-purple {
  color: #1f0441
}

.title-screen {
  font-size: calc(100% + 1vw + 1vh);
}

.intro-text {
  color: #1f0441
}

.pink-button {
  background-color: #fc1068;
  border-color: #d80e58
}

.pink-button:visited,
.pink-button:focus {
  background-color: #D90D58 !important;
  border-color: #d80e58 !important
}

.pink-button:hover {
  background-color: #c70d51 !important;
  border-color: #d80e58 !important
}

.pink-button:active {
  background-color: #B00B47 !important;
  border-color: #d80e58 !important;
}
